body {
    margin: 0;
    padding: 0;
}

#blubluh {
    width: 100%;
    bottom: 0;
    top: 0;
    position: absolute;
}

#texto {
    font-family: serif;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}